.profile-section {
  font-size: 29px;
}
.profile-section h2 {
  z-index: 2;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 14px;
  border-top: 3px solid;
  /* margin-bottom: 20px; */
  padding: 0.5em 0; /* vertical horizon */
  /* color: orangered; */
  position: sticky;
  top: 0;
  margin-left: 5px;
  background-color: #fff;
  box-shadow: 0 0 40px 5px #fff;
}
.profile-section h3 {
  font-size: 1.3em;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 0.5em;
  margin-bottom: 3em;
}
.doc-por {
  max-width: 500px;
  width: 40%;
  display: block;
  margin: 0 auto;
}
.timeline-div {
  font-size: 1em;
}
.timeline-div h3 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1em;
  color: black;
  text-align: center;
  margin-top: 28px;
  margin-left: 1.1em;
  margin-bottom: 7px;
}
.timeline-div h4 {
  text-align: center;
  margin-left: 1.3em;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 1em;
  margin-bottom: 7px;
  color: #1069c9ff;
}
.timeline-div p {
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.25em;
  margin-bottom: 30px;
}
.timeline {
  margin-top: 2em;
}

.timeline li {
  padding-bottom: 1em;
  font-size: 1em;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  text-align: center;
}
.timeline li:last-child {
  padding-bottom: 0;
}
.procedure h3:first-child {
  margin-top: 50px;
}
/* time */
.time,
.contact {
  margin-left: 10px;
}
/* time */
.time {
  font-size: 23px;
}
.time dt {
  font-size: 2em;
  float: left;
  font-weight: 600;
  width: 5em;
}
.time span {
  font-size: 0.75em;
}
.time dd {
  font-size: 2em;
}
.time p {
  font-size: 1.3em;
  text-align: right;
  margin-top: 20px;
  color: #1069c9ff;
  padding-right: 15px;
}
.time p span {
  font-size: 1.7em;
  font-weight: 600;
}
/* time end*/

.contact {
  font-size: 20px;
}
.contact dt {
  float: left;
  font-size: 1.7em;
  font-weight: 600;
  width: 5em;
}

.contact dd {
  font-size: 1.7em;
}
@media screen and (max-width: 750px) {
  .profile-section {
    font-size: 14px;
  }
  .timeline-div p {
    letter-spacing: 0.4em;
  }
  .time {
    font-size: 12px;
  }
  .contact {
    font-size: 10px;
  }
}
