.profile-section h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 14px;
  border-top: 3px solid;
  /* margin-bottom: 20px; */
  padding: 0.5em 0; /* vertical horizon */
  /* color: orangered; */
  position: sticky;
  top: 0;
  margin-left: 5px;
  background-color: #fff;
  box-shadow: 0 0 40px 5px #fff;
}
.profile-section h3 {
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 0.5em;
  margin-bottom: 3em;
}
.doc-por {
  max-width: 280px;
  width: 40%;
  display: block;
  margin: 0 auto;
}
.timeline-div h3 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 15px;
  color: black;
  text-align: center;
  margin-top: 28px;
  margin-left: 20px;
  margin-bottom: 7px;
}
.timeline-div h4 {
  text-align: center;
  margin-left: 20px;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 15px;
  margin-bottom: 7px;
  color: #1069c9ff;
}
.timeline-div p {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 2.5px;
  margin-bottom: 30px;
}

.timeline li {
  padding-bottom: 5px;
  font-size: 20px;
  font-family: "Gothic A1", sans-serif;
  text-align: center;
}
.timeline li:last-child {
  padding-bottom: 0;
}
.procedure h3:first-child {
  margin-top: 50px;
}
/* .time {
    margin-left: 5px;
  } */
.time,
.contact {
  margin-left: 10px;
}
.time dt {
  font-size: 2rem;
  float: left;
  font-weight: 600;
  width: 5em;
}
.time span {
  font-size: 1.4rem;
}
.time dd {
  font-size: 2rem;
}
.time p {
  font-size: 1.6rem;
  text-align: right;
  margin-top: 20px;
  color: #1069c9ff;
}
.time p span {
  font-size: 2rem;
  font-weight: 600;
}
.list dt {
  float: left;
  font-size: 17px;
  font-weight: 600;
  width: 5em;
}

.list dd {
  font-size: 17px;
}
