/* ANIMATION */
@import url("toolreset.css");
@import url("reset.css");
@import url("profile-header.css");
@import url("profile-section.css");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  background-color: #fff;
  color: #111;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0 auto;
  display: block;
}
.portrait {
  background-repeat: no-repeat;
  background-image: url(images/portrait_name.png);
  background-color: #eeeffd;
  background-size: 75%;
  background-position: center;
  padding: 20%;
}
.profile {
  padding: 7%;
  min-height: 5000px;
}

.profile-header,
.profile-section {
  padding-bottom: 7%; /* section간 간격 */
}

/* .icons {
}

.icons a.twitter {
} */

#map {
  z-index: -1;
  margin-top: 30px;
  display: block;
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 750px) {
  .portrait {
    background-size: 100%;
    background-position: center;
    padding: 25%;
  }
}
