/* ANIMATION */
@keyframes rolling {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(-40%);
  }
  75% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-80%);
  }
}
/* css reset */
body,
h1,
h2,
h3,
p,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-size: 100%;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}
/* css reset */

body {
  background-color: #111;
  color: #999;
}
.portrait {
  background-image: url(images/logo.jpeg);
  background-size: cover;
  background-position: center;
  padding-top: 56.25%; /* 16:9 (9/16) */
}
.doc-portrait {
  background-image: url(images/portrait.jpeg);
  background-size: cover;
  /* background-position: center; */
  padding-top: 66.66%;
}

.profile {
  padding: 7%;
  min-height: 5000px;
}
.profile-header,
.profile-section {
  padding-bottom: 7%; /* section간 간격 */
}
.profile-section h2 {
  border-top: 3px solid;
  margin-bottom: 20px;
  padding: 0.5em 0; /* vertical horizon */
  /* color: orangered; */
  position: sticky;
  top: 0;
  background-color: #111;
  box-shadow: 0 0 50px 10px #111;
}
.name {
  font-size: 30px;
  line-height: 1.5;
  font-style: italic;
  margin-bottom: 30px;
  margin-bottom: 40px;
  position: sticky;
  top: -1.5em;
  background-color: #111;
  box-shadow: 0 0 50px 10px #111;
}

.motto {
  display: inline-block;
  color: white;
  vertical-align: top;
  height: 1.5em; /* .name에서 상속받음 */
  overflow: hidden;
  padding-right: 0.5em;
  position: relative;
}
.motto::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* border: 1px solid red; */
  margin-left: -1em;
  box-shadow: inset 0 0 10px 10px #111; /* 안쪽 x y blur spread color */
}
.motto-list {
  /* margin-top: -1em; .name에서 상속받음 */
  animation-name: rolling;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.name-title {
  font-size: 1.5em; /* .name에서 상속받음 (x1.5) */
  line-height: 1;
  color: tomato;
  /* margin-left: ; */
  position: relative; /* position이 static이 아닌 항목은 최상위 레이어가 된다 */
}

/* .icons {
}

.icons a.twitter {
} */
.timeline {
  font-size: 0.6rem;
}
.timeline h3 {
  font-size: 1.5rem;
  color: white;
  letter-spacing: 0.4em;
  float: left;
}
.timeline p {
  font-size: 0.7rem;
  color: thistle;
  padding-top: 14px;
  padding-bottom: 30px;
}
.timeline li {
  padding-bottom: 20px;
}
.timeline li:last-child {
  padding-bottom: 0;
}

.list dt {
  color: orange;
  float: left;
  width: 5em;
}

.list dd {
  overflow: hidden;
}
